* {
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
font-family: 'Poppins', sans-serif;
}


body {
background: #0f172a;
color: white;
}


section {
padding: 80px 10%;
}


h1, h2 {
color: #38bdf8;
}


@media (max-width: 768px) {
section {
padding: 60px 6%;
}
}